<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let data of notesDataObject">
      <p style="text-align:center">{{data.title}}</p>
      <div class="card" [ngStyle]="{'background-color': data?.color}">
        <div class="card-body">
          <div class="card-text" style="cursor:pointer">
            <p data-toggle="modal" data-target="#exampleModal" (click)="getNote(data.id)">
              {{data?.body  | slice:0: 100}} </p>
          </div>
          <br />
          <div>
            <a class="btn btn-success  btn-sm" [routerLink]="[data?.id,'edit']">Edit</a>
            <a class="btn btn-danger  btn-sm" style="float: right;" (click)="deleteNote(data)">Delete</a>
          </div>
        </div>
      </div>
      <br />
    </div>
    <button class="btn btn-success addNote" (click)="route()" style="right: 1px;" type="button"> Add New Note </button>
  </div>

  <!-- Button trigger modal -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> {{notesData?.title}} </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3">
                Title :
              </div>
              <div class="col-md-9">
                {{notesData?.title}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                Notes :
              </div>
              <div class="col-md-9">
                {{notesData?.body}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                Category :
              </div>
              <div class="col-md-9">
                {{notesData?.category}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                Color :
              </div>
              <div class="col-md-9">
                {{notesData?.color}}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
